/*Importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;


    --fonte-padrao: 'Inter';
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, hsla(214, 91%, 50%, 0.5) 19.91%, hsla(0, 0%, 3%, 0) 24.84%), #303030;
    background-repeat: no-repeat;


}

/*Menu de navegação Principal*/
#principal {
    width: 100%;
    background-color:var(--preto-dnc);
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

    #menu {
        display: flex;
        width: 38%;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
    }

    #principal a {
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        font-family: var(--fonte-padrao);
        font-size: 25px;
    }
    #principal a:hover {
        color:var(--cinza-hover);
    }

    #principal button {
        margin-right: 5%;
        background-color: var(--azul-dnc);
        border: 0PX;

        height: 40px;
        width: 80px;
        font-family: var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600;
        color: white;

        box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.55);
        border-radius: 7px;
        cursor: pointer;

    }

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

    header{
        color: white;
        font-family: var(--fonte-padrao);

    }

    header h1 {
        font-size: 80px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;

    }

    header h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        text-align: justify;

        margin-bottom: 100px;

    }

    header .invert {
        background-color: black;
        font-weight: bold;
        padding: 5px;
    }
